body{
    font-family: 'Anonymous Pro', cursive;
}

.header {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerText {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 0;
}

.add{
    font-size: 1.3em;
    text-align: center;
    margin-left: 280px;
}

.createSection{
    display: flex;
    justify-content: center;
}

.createBox{
    padding: 20px;
    width: 500px;
    height: 300px;
}

.listSection{
    display: flex;
    justify-content: center;
}

.listBox{
    /*border: solid 1px cadetblue;*/
    padding: 50px;
    width: 500px;
    height: 300px;
}

.taskText {
    /*text-decoration: none;*/
    color: black;
}

.detailSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid 1px grey;*/
}
